body{
 
background-size: cover;

background-repeat: repeat-x ;
background:white(235, 26, 61, 0.918);
}.form-control:hover{
 height: ;
 background:rgba(165, 111, 120, 0.918);
 background: rgba(13, 16, 206, 0.658);